.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  margin-bottom: 20px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.desc {
  max-width: 50vw;
}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

/* Enable hover only on non-touch devices */

.maindev ul {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.maindev ul li {
  margin: 0 23px;
  list-style: none;
  font-weight: bold;
}

.myImg {
  border-radius: 12px;
}
.btn {
  color: aquamarine;
  background: black;
  padding: 7px 6px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  margin: 0 6px;
  list-style: none;
  font-weight: bold;
}
